
//Colors
$primarySoftBlue: hsl(231, 69%, 60%);
$primarySoftRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$navLinkGrey: hsl(255, 8%, 91%); 
$veryDarkBlue: hsl(229, 31%, 21%);
$defaultWhite: rgb(255, 255, 255); 


//Fonts
$normalFont: 1rem;
$h1Font: 2rem;
$h2Font: 1.7rem;
$h4Font: 1.3rem; 
$buttonFont: 400 0.9rem "Rubik";


//Border Radius

$primaryRadius: 0.4rem; 
