.bg-pattern {

    &::after {
        content: ""; 
        width: 80%; 
        height: 80%; 
        position: absolute; 
        top: 23%; 
        right: 0%; 
        z-index: 1; 
        background-color: $primarySoftBlue; 
        border-radius: 0 0 0 36%; 
    }
}
.bg-pattern--left {

    &::after {
        content: ""; 
        width: 80%; 
        height: 100%; 
        position: absolute; 
        top: 18%; 
        left: 0; 
        z-index: 1; 
        background-color: $primarySoftBlue; 
        border-radius: 0 0 0 36%; 
        transform: scale(-1,1); 
    }
}