.btn {
  
  border: 2px solid transparent; 
  border-radius: $primaryRadius;
  font-family: "Rubik"; 
  font-size: 0.9rem; 
  font-weight: 500; 
  color: $veryDarkBlue; 
  background-color: rgb(247, 247, 247); 
  box-shadow: 0px 5px 5px  lighten($grayishBlue, 30%); 
  height: 3rem; 
  width: 7.25rem;  
  cursor: pointer; 
  transition: all 200ms; 

  &:hover, &:focus {
    border: 2px solid $veryDarkBlue;
  }
 
}

.btn--default {
  background-color: $primarySoftBlue; 
  border: 2px solid $primarySoftBlue; 
  color: $defaultWhite;

    &:hover, &:focus {
    border: 2px solid $primarySoftBlue; 
    color: $primarySoftBlue; 
    background-color: $defaultWhite;
    }
}


.btn--medium {
  width: 9.5rem; 
}
.btn--big {
  width: 14.5rem; 
}

.btn--wide {
  width: 100%; 
}


.btn--important {
  background-color: $primarySoftRed;
  border: 2px solid $primarySoftRed; 
  color: $defaultWhite;
  box-shadow: none; 
  max-width: 19.5rem; 

  &:hover, &:focus {
    background-color: $defaultWhite; 
    border: 2px solid $primarySoftRed;
    color: $primarySoftRed;
  }
}


.btn--login {
 
  padding-top: 0.6rem; 
  padding-bottom: 0.6rem; 
  border: 2px solid white; 
  border-radius: 0.3rem; 
}

