.bottom-line {
  padding-bottom: 1.5rem; 
  border-bottom: 1px solid $borderAccentColor; 
  margin-bottom: 2rem; 
}

.top-line {
  padding-top: 2rem; 
  border-top: 1px solid $borderAccentColor; 
 
}

