
footer {
    background-color: $veryDarkBlue;  
}


.footer-section {

    height: 20.7rem; 
    padding: 2.5rem 0; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.footer-nav {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    height: 180px; 
}

.footer-nav-list {
    height: 7rem; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



@import "./media-footer"; 

