.main-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 4.7rem;
  padding: 0 2rem;
  margin-bottom: 5rem; 
  
}

.main-nav__list {
  list-style-type: none;
  display: flex;
}

.nav__link {
    
    text-transform: uppercase;
    text-decoration: none; 
    color: $navLinkGrey; 
    letter-spacing: 3px;
    font-weight: 400; 
    font-size: 0.95rem; 
    font-family: "Rubik";  
}
