.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.7rem;
  padding: 0 2rem;
  margin-bottom: 3rem; 
  
}

.main-nav {
  width: 100%; 
  display: flex; 
  transition: transform 500ms ease-in; 
}

//Default for nav control button and logo
.main-nav__control {
  display: flex; 
  justify-content: space-between;
  width: 100%; 
  
}


//This applies to the main nav when in mobile view and  menu is opened
.main-nav--mobile-open {
  position: fixed; 
  background-color: $darkBlueTrans; 
  top: 0; 
  left: -100%; 
  width: 100vw; 
  height: 100vh; 
  z-index: 10; 
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
  padding-bottom: 3rem; 
  transform: translateX(100%); 
 
}


.main-nav__list {
  width: 100%;
  height: 100%; 
  padding-top: 2.6rem; 
  display: none; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  
  & li:first-of-type {
     border-top: 1px solid $grayishBlueTrans;
  }

   & li:last-of-type {
     border-bottom: none; 
  }
}


.main-nav__item {
  width: 100%; 
  max-width: 31rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-bottom: 1px solid $grayishBlueTrans;
  padding: 1.4rem 0; 
  

}

.nav__link {
    
    text-transform: uppercase;
    text-decoration: none; 
    color: $navLinkGrey; 
    letter-spacing: 2px;
    font-weight: 400; 
    font-size: 0.95rem; 
    font-family: "Rubik"; 
    
    &:hover, &:focus {
      color: $primarySoftRed; 
    }
}


.nav__link--main {
  font-size: 1.3rem;  
  width: 100%; 
  text-align: center; 
  color: $defaultWhite; 
}


.social-list {
   width: 7rem;
   padding-left: 0.2rem; 
   padding-right: 0.6rem; 
   display: flex; 
   justify-content: space-between;
   align-items: center;
  
}

.social-link {

  &:hover, &:focus {

    .icon-fill {
        fill: $primarySoftRed; 
    }
  }
    
}


@keyframes animateNav {


  0% {

  }
  100% {}
}


// @keyframes animateNav {

//   0% {
//     left: -100%; 
//     max-width: 0; 
//     border-radius: 0 50vh 50vh 0; 
//   }
//   100% { 
//     left: 0%; 
//     max-width: 100vw; 
//      border-radius: 0 0 0 0; 
//   }
// }



// @keyframes animateNavReverse {

//   0% {
//     left: 0; 
//     max-width: 100wv; 
//     border-radius: 0 0 0 0; 
//   }
//   100% { 
//     left: -1000%; 
//     max-width: 0; 
//      border-radius: 0 50vh 50vh 0; 
//   }
// }


@import "./media-header"; 