

/*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/


.image-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 4rem;
}

.hero-image {
  width: 95%; 
}

.hero-title {
   font: $h1Font;
   text-align: center;
   color: $veryDarkBlue; 
}




/*------------------------------------------------------*\
  #FEATURES-SECTION
\*------------------------------------------------------*/





/*------------------------------------------------------*\
  #EXTENSIONS-SECTION
\*------------------------------------------------------*/





/*------------------------------------------------------*\
  #FAQ-SECTION
\*------------------------------------------------------*/




/*------------------------------------------------------*\
  #CONTACT-SECTION
\*------------------------------------------------------*/
