
/*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/

.image-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 4rem;
}

.hero-image {
  width: 95%; 
}

.content {
  padding: 0 2rem;
  @extend .flex-center--col;
  
}

.content__title {
  color: $veryDarkBlue; 
  font-size: $h1Font;
  @extend .text-position;
 
}

.content__subtitle {
  @extend .text-position; 
  color: $veryDarkBlue; 
  font-size: $h2Font; 
  
}

.content__text {
  @extend .text-position; 
  color: $grayishBlue; 
  font-size: 1rem; 
  line-height: 1.6;
  padding-top: 1.5rem; 
  padding-bottom: 2rem; 
  

}

.content__controls {
  width: 100%; 
  display: flex; 
  justify-content: space-between;
}

/*------------------------------------------------------*\
  #FEATURES-SECTION
\*------------------------------------------------------*/





/*------------------------------------------------------*\
  #EXTENSIONS-SECTION
\*------------------------------------------------------*/

.extension-list {
  @extend .flex-center--col;
  
}

 .extension-list__card {
   @extend .flex-center--col;
   position: relative; 
   width: 17.5rem;
   height: 22rem; 
   padding-top: 1rem; 
   margin-bottom: 3.5rem;  
   border-radius: 0 0 0.5rem 0.5rem; 
   box-shadow: 0px 5px 5px 4px  lighten($grayishBlue, 35%);
 }



/*------------------------------------------------------*\
  #FAQ-SECTION
\*------------------------------------------------------*/




/*------------------------------------------------------*\
  #CONTACT-SECTION
\*------------------------------------------------------*/
