
/*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/


.content-section {
  margin-bottom: 7.5rem;
}

 
.image-container {

  width: 100%; 
  max-width: 38rem; 
  position: relative; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-bottom: 4rem;
 
}

.image-container--hero { 
  max-width: 45rem; 

}


.content-image {
  width: 95%; 
  z-index: 2; 
}

//refers to the element that holds the page title and description with 2 buttons
.title-container {
  padding: 0;  
}


.content {
  padding: 0 2rem; 
}

.content--wider{
  padding: 0 1.75rem; 
}

.content--responsive {
  padding: 0 2rem; 
}

.content__title {
  color: $veryDarkBlue; 
  font-size: $h1Font;
  text-align: center; 
   
}

.content__subtitle {
  
  text-align: center; 
  color: $veryDarkBlue; 
  font-size: $h2Font; 
  font-weight: 500; 
  letter-spacing: -1px; 
}

.content__subtitle--light {
  color: $defaultWhite;
  font-size: 1.5rem;  
  letter-spacing: normal;
  margin-top: 1rem; 
  margin-bottom: 2rem; 
}

.content__text {
  text-align: center; 
  color: $grayishBlue; 
  font-size: 1rem; 
  line-height: 1.7;
  padding-top: 1.5rem; 
  padding-bottom: 2rem; 
  max-width: 33.75rem; 
}


.controls__wrapper {
  padding: 0; 
  width: 100%; 
  max-width: 20rem; 
}

.content__controls {
 
  display: flex; 
  justify-content: space-between;   
  
}




/*------------------------------------------------------*\
  #FEATURES-SECTION
\*------------------------------------------------------*/



.features-list  {
  margin: 0 auto; 
  margin-bottom: 4.4rem; 
  max-width: 40rem;
  
}


.features-list__item {
 
  width: 100%; 
  text-align: center; 
  
}

.features-list__link {
 
  display: inline-block; 
  text-decoration: none; 
  font-size: 1.125rem; 
  color: darken($grayishBlue, 25%); 
  cursor: pointer; 
  position: relative; 
  width: 100%; 
  padding: 1rem 0; 
  border-bottom: 1px solid lighten($grayishBlue, 25%);
  
  &:hover {
    color: $primarySoftRed;
  }
}


.features-list__item:first-of-type{

  a {
    border-top: 1px solid lighten($grayishBlue, 25%);
  }
  
}


.features-list__link--active {
  
  &::after {
    content: ""; 
    width: 9rem; 
    height: 0.3rem; 
    background-color: $primarySoftRed;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);  
    top: 93%; 
  }
}



//ovo bi trebalo na article element
.feature-tab {
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   justify-content: space-between;
}


.features-tab__image {
  width: 100%; 
  max-width: 35rem;
  height: 100%;
  padding: 0 2rem; 
  z-index: 2; 
}


/*------------------------------------------------------*\
  #EXTENSIONS-SECTION
\*------------------------------------------------------*/

  .extension-section {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }


  .extension-list { 
    margin-top: 2rem;    
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
  }



 .extension-card {
   @extend .flex-center--col;
   position: relative; 
   width: 17.5rem;
   height: 22rem; 
   padding: 1.5rem 0; 
   margin-bottom: 3.5rem;  
   border-radius: 0 0 0.5rem 0.5rem; 
   box-shadow: 0px 5px 5px 4px  lighten($grayishBlue, 35%);
   transition: margin 500ms ease-out; 
 }

 
 .extension-card__description {

   @extend .flex-center--col; 
    height: 3.5rem; 
    margin-bottom: 1rem;

 }

 .extension-card__title {
   font-size: $h4Font; 
   color: $veryDarkBlue; 
   letter-spacing: 1px;
  
 }

 .extension-card__info {
   color: $grayishBlue; 
 }

/*------------------------------------------------------*\
  #FAQ-SECTION
\*------------------------------------------------------*/
 

.description-list {
  font-family: "Rubik"; 
  font-size: 1rem; 
  color: $veryDarkBlue;  
  margin-top: 2.75rem; 
  margin-bottom: 1rem; 
  width: 100%; 
  max-width: 34rem; 

}

.description-list__question {
  width: 100%;  
  font-family: inherit; 
  font-size: inherit;
  position: relative;
  cursor: pointer; 
  display: flex; 
  justify-content: space-between;
  align-items: center;



  &:hover, &:focus {
    color: $primarySoftRed;
  }
}

.question-text {
  
  text-align: left; 
  min-width: min-content; 
  width: fit-content;
  max-width: 17.2rem; 
  padding-right: 0.5rem; 
}




.description-list__arrow {
  transition: transform 250ms; 
}



//This is applied when user clicks on a question
.description-list__arrow--expanded { 
  transform: rotateZ(180deg); 
  .arrow-stroke {
    stroke: $primarySoftRed;
  }
   
}


.description-list__answer {
  line-height: 2;
   max-height: 0;
   overflow: hidden;   
  transition: all 250ms; 

}


.description-list__answer--expanded { 
  
  overflow: visible;
  max-height: 40rem; 
  padding-top: 2.5rem;
  padding-bottom: 0.5rem; 
}



/*------------------------------------------------------*\
  #CONTACT-SECTION
\*------------------------------------------------------*/

.contact-section {
  background-color: $primarySoftBlue; 
  height: 22.5rem; 
  padding-top: 4.5rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.yeah-right {
 text-transform: uppercase; 
 text-align: center;
 color: $defaultWhite;
 font-size: 0.8rem; 
 font-weight: 400;
 letter-spacing: 5px;
 
}

.form {
  width: 100%; 
  max-width: 19.5rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: space-between; 
  position: relative; 
}

.form__input {
  height: 3rem; 
  background-color: $defaultWhite;
  width: 100%; 
  max-width: 19.5rem; 
  border: 2px solid $defaultWhite; 
  border-radius: $primaryRadius; 
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  padding-right: 4rem;
  z-index: 2; 
 
  transition: all 300ms; 
  
  &::placeholder {
    color: $grayishBlue; 
    opacity: 0.5;
    font-size: 0.9rem; 
  }
}


.form__input--invalid {

   border: 2px solid $primarySoftRed;
   margin-bottom: 2.5rem; 
    
  }

.error-icon {
  position: absolute; 
  z-index: 3; 
  left: 85%;
  top: 11%; 
  opacity: 0; 
  transition: opacity 300ms; 
}


.error-icon--visible {
  opacity: 1; 
}
.error-container {
  position: absolute; 
  background-color: $primarySoftRed;
  width: 100%; 
  max-width: 19.5rem; 
  height: 1.5rem; 
  top: 32.5%; 
  transition: all 300ms; 
  opacity: 0; 
  border: 2px solid $primarySoftRed;
  border-radius: $primaryRadius;
  color: $defaultWhite; 
  font-size: 0.6rem; 
  font-style: italic; 
  padding-left: 0.7rem; 
  transform: translateY(-100%); 
  justify-content: flex-start;
  align-items: center;
   
  p {
    height: min-content;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
}

.error-container--visible {

  transform: translateY(0%); 
  border-radius: 0 0 $primaryRadius $primaryRadius; 
  opacity: 1; 
}


@import "media-main-content"; 