.main-header {
    background-color: rgb(124, 124, 138);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.main-nav__list {
    list-style-type: none;
    display: flex; 
}