* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  font-family: "Rubik";
  margin: 0 auto;
  max-width: 90rem;
  background-color: white;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6.7rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-nav--mobile-open {
  position: fixed;
  background-color: #252b46e6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.2rem 2rem;
}

.main-nav__list {
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding-top: 2.6rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list li:first-of-type {
  border-top: 1px solid #9497a4;
}

.main-nav__list li:last-of-type {
  border-bottom: none;
}

.main-nav__item {
  width: 100%;
  max-width: 31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #9497a4;
  padding: 1.4rem 0;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #e7e6ea;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 0.85rem;
  font-family: "Rubik";
}

.nav__link:hover, .nav__link:focus {
  color: #fa5757;
}

.nav__link--main {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  color: white;
}

.social-list {
  width: 7rem;
  padding-left: 0.2rem;
  padding-right: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link:hover .icon-fill, .social-link:focus .icon-fill {
  fill: #fa5757;
}

@media only screen and (min-width: 50rem) {
  .main-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__list li:first-of-type {
    border-top: none;
  }
  .main-nav__item {
    border-bottom: none;
    padding: 0;
    height: 100%;
  }
  .nav__link--main {
    color: #9194a1;
    font-size: 0.95rem;
    margin: 0 1rem;
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 80rem) {
  .main-header {
    padding: 0 10.25rem;
  }
}

.bottom-line {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #d6d7dc;
  margin-bottom: 2rem;
}

.top-line {
  padding-top: 2rem;
  border-top: 1px solid #d6d7dc;
}

/*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/
.content-section {
  margin-bottom: 7.5rem;
}

.image-container {
  width: 100%;
  max-width: 38rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.image-container--hero {
  max-width: 45rem;
}

.content-image {
  width: 95%;
  z-index: 2;
}

.title-container {
  padding: 0;
}

.content {
  padding: 0 2rem;
}

.content--wider {
  padding: 0 1.75rem;
}

.content--responsive {
  padding: 0 2rem;
}

.content__title {
  color: #252b46;
  font-size: 2rem;
  text-align: center;
}

.content__subtitle {
  text-align: center;
  color: #252b46;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.content__subtitle--light {
  color: white;
  font-size: 1.5rem;
  letter-spacing: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.content__text {
  text-align: center;
  color: #9194a1;
  font-size: 1rem;
  line-height: 1.7;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  max-width: 33.75rem;
}

.controls__wrapper {
  padding: 0;
  width: 100%;
  max-width: 20rem;
}

.content__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*------------------------------------------------------*\
  #FEATURES-SECTION
\*------------------------------------------------------*/
.features-list {
  margin: 0 auto;
  margin-bottom: 4.4rem;
  max-width: 40rem;
}

.features-list__item {
  width: 100%;
  text-align: center;
}

.features-list__link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #525560;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #d6d7dc;
}

.features-list__link:hover {
  color: #fa5757;
}

.features-list__item:first-of-type a {
  border-top: 1px solid #d6d7dc;
}

.features-list__link--active::after {
  content: "";
  width: 9rem;
  height: 0.3rem;
  background-color: #fa5757;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 93%;
}

.feature-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-tab__image {
  width: 100%;
  max-width: 35rem;
  height: 100%;
  padding: 0 2rem;
  z-index: 2;
}

/*------------------------------------------------------*\
  #EXTENSIONS-SECTION
\*------------------------------------------------------*/
.extension-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension-list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension-card {
  position: relative;
  width: 17.5rem;
  height: 22rem;
  padding: 1.5rem 0;
  margin-bottom: 3.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-box-shadow: 0px 5px 5px 4px #f1f2f3;
          box-shadow: 0px 5px 5px 4px #f1f2f3;
  -webkit-transition: margin 500ms ease-out;
  transition: margin 500ms ease-out;
}

.extension-card__description {
  height: 3.5rem;
  margin-bottom: 1rem;
}

.extension-card__title {
  font-size: 1.3rem;
  color: #252b46;
  letter-spacing: 1px;
}

.extension-card__info {
  color: #9194a1;
}

/*------------------------------------------------------*\
  #FAQ-SECTION
\*------------------------------------------------------*/
.description-list {
  font-family: "Rubik";
  font-size: 1rem;
  color: #252b46;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 34rem;
}

.description-list__question {
  width: 100%;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  cursor: pointer;
}

.description-list__question:hover, .description-list__question:focus {
  color: #fa5757;
}

.description-list__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.description-list__arrow--expanded {
  -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
}

.description-list__arrow--expanded .arrow-stroke {
  stroke: #fa5757;
}

.description-list__answer {
  line-height: 2;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.description-list__answer--expanded {
  opacity: 1;
  max-height: 40rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

/*------------------------------------------------------*\
  #CONTACT-SECTION
\*------------------------------------------------------*/
.contact-section {
  background-color: #5368df;
  height: 22.5rem;
  padding-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yeah-right {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 5px;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  height: 3rem;
  background-color: white;
  width: 100%;
  max-width: 19.5rem;
  border-radius: 0.4rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.form__input::-webkit-input-placeholder {
  color: #9194a1;
  opacity: 0.5;
  font-size: 0.9rem;
}

.form__input:-ms-input-placeholder {
  color: #9194a1;
  opacity: 0.5;
  font-size: 0.9rem;
}

.form__input::-ms-input-placeholder {
  color: #9194a1;
  opacity: 0.5;
  font-size: 0.9rem;
}

.form__input::placeholder {
  color: #9194a1;
  opacity: 0.5;
  font-size: 0.9rem;
}

@media only screen and (min-width: 31.25rem) {
  /*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/
  .image-container {
    margin-bottom: 7rem;
  }
}

@media only screen and (min-width: 37.5rem) {
  /*------------------------------------------------------*\
  #FEATURES-SECTION
  \*------------------------------------------------------*/
  .feature-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 41.5rem) {
  /*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-container {
    margin-bottom: 0;
  }
  .title-container {
    min-width: 22rem;
  }
  .content--responsive {
    padding: 0;
    padding-left: 2rem;
  }
  .controls__wrapper {
    padding: 0 2rem;
  }
  .content__controls {
    min-width: 19.8rem;
  }
  .content__subtitle--light {
    font-size: 2rem;
    letter-spacing: normal;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    width: 30.5rem;
  }
  /*------------------------------------------------------*\
  #FEATURES-SECTION
  \*------------------------------------------------------*/
  .features-list {
    max-width: 48rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .features-list__item {
    border-bottom: 1px solid #d6d7dc;
    width: 33.33%;
  }
  .features-list__link {
    padding: 2rem 0;
    border-bottom: none;
  }
  .features-list__link--active::after {
    content: "";
    width: 100%;
  }
  .features-list__item:first-of-type a {
    border-top: none;
  }
  .features-list__item:nth-of-type(2) a {
    padding-left: 1rem;
  }
  /*------------------------------------------------------*\
  #CONTACT-SECTION
  \*------------------------------------------------------*/
  .form {
    width: 28rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__input {
    width: 100%;
    max-width: 19.5rem;
    border-radius: 0.4rem;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 60rem) {
  /*------------------------------------------------------*\
#EXTENSIONS-SECTION
\*------------------------------------------------------*/
  .extension-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 56.5rem;
    margin-top: 0;
  }
  .extension-card:nth-of-type(2) {
    margin-top: 5.5rem;
  }
  .extension-card:nth-of-type(3) {
    margin-top: 10.5rem;
  }
}

@media only screen and (min-width: 73.5rem) {
  .content__text {
    font-size: 1.125rem;
  }
  .content__subtitle {
    font-size: 2rem;
    letter-spacing: normal;
  }
}

@media only screen and (min-width: 80rem) {
  /*------------------------------------------------------*\
  #HERO-SECTION
\*------------------------------------------------------*/
  .title-container {
    max-width: 45.25rem;
    padding-left: 8.25rem;
  }
  .content-section--mrb15 {
    margin-bottom: 15rem;
  }
  .content__text--limited {
    padding-right: 6rem;
  }
  /*------------------------------------------------------*\
  #FEATURES-SECTION
  \*------------------------------------------------------*/
  .image-container--article {
    max-width: 44.5rem;
    height: 21.75rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .features-tab__image {
    padding: 0;
  }
}

@media only screen and (min-width: 85rem) {
  .content__title {
    font-size: 3rem;
    font-weight: 500;
  }
}

footer {
  background-color: #252b46;
}

.footer-section {
  height: 20.7rem;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}

.footer-nav-list {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 50rem) {
  footer {
    padding: 0 2rem;
  }
  .footer-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5.5rem;
  }
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  .footer-nav-list {
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-link {
    margin-right: 2.9rem;
  }
}

@media only screen and (min-width: 80rem) {
  footer {
    padding: 0 10.25rem;
  }
}

.btn {
  border: 2px solid transparent;
  border-radius: 0.4rem;
  font-family: "Rubik";
  font-size: 0.9rem;
  font-weight: 500;
  color: #252b46;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 5px 5px #e3e4e8;
          box-shadow: 0px 5px 5px #e3e4e8;
  height: 3rem;
  width: 7.25rem;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn:hover, .btn:focus {
  border: 2px solid #252b46;
}

.btn--default {
  background-color: #5368df;
  border: 2px solid #5368df;
  color: white;
}

.btn--default:hover, .btn--default:focus {
  border: 2px solid #5368df;
  color: #5368df;
  background-color: white;
}

.btn--medium {
  width: 9.5rem;
}

.btn--big {
  width: 14.5rem;
}

.btn--wide {
  width: 100%;
}

.btn--important {
  background-color: #fa5757;
  border: 2px solid #fa5757;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 19.5rem;
}

.btn--important:hover, .btn--important:focus {
  background-color: white;
  border: 2px solid #fa5757;
  color: #fa5757;
}

.btn--login {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 2px solid white;
  border-radius: 0.3rem;
}

.btn--login:hover, .btn--login:focus {
  background-color: white;
  border: 2px solid #fa5757;
  color: #fa5757;
}

@media only screen and (min-width: 41.5rem) {
  .btn--important {
    width: 7.75rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 50rem) {
  .btn--login {
    background-color: #fa5757;
    color: #e7e6ea;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border: 2px solid white;
    border-radius: 0.3rem;
  }
}

.bg-pattern::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  top: 23%;
  right: 0%;
  z-index: 1;
  background-color: #5368df;
  border-radius: 0 0 0 36%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.bg-pattern--left::after {
  content: "";
  width: 80%;
  height: 100%;
  position: absolute;
  top: 18%;
  left: 0;
  z-index: 1;
  background-color: #5368df;
  border-radius: 0 0 0 36%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media only screen and (min-width: 80rem) {
  .bg-pattern::after {
    content: "";
    width: 70%;
    height: 80%;
  }
  .bg-pattern--left::after {
    content: "";
    width: 88%;
    height: 105%;
    top: 24%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center--col, .extension-card, .extension-card__description, .flex-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-col-to-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.visible-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 41.5rem) {
  .text-align {
    text-align: left;
  }
  .flex-col-to-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-position {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .desktop-flex--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */